@font-face {
  font-family: 'Menlo';
  src: url('/fonts/menlo.eot');
  src: url('/fonts/menlo.eot?iefix') format('eot'),
    url('/fonts/menlo.woff') format('woff'),
    url('/fonts/menlo.ttf') format('truetype'),
    url('/fonts/menlo.svg#menlo') format('svg');
  font-style: normal;
  font-weight: normal;
}